.main-color{
    background-color: $maincolor1
}

.font-main{
    color: rgb(0, 0, 0);
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(140, 28, 42));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.colormain{
    background-color: $maincolor1
}

.color1{
    background-color: $Thirdcolor;
    margin: 0 auto;
}

.main-color1{
    background-color: $maincolor1
}